<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit optio, magni, blanditiis commodi animi provident minus voluptatem earum voluptate deserunt obcaecati nesciunt labore sed officiis voluptatum est dolores magnam quos! In adipisci facere mollitia reiciendis minima porro eum autem nobis, modi enim asperiores fuga harum hic corporis molestiae accusamus nulla reprehenderit, explicabo iusto ipsum. Eaque temporibus earum possimus sed libero quia? Vel voluptatibus nihil placeat, assumenda tempora voluptatem! Molestiae quae, esse laborum, repudiandae eligendi quam quisquam soluta animi labore dicta laboriosam. Similique sit pariatur quasi assumenda reiciendis consequatur ad quis vero asperiores delectus sint ratione id repellat, blanditiis architecto nisi obcaecati iusto numquam praesentium facilis neque voluptatum voluptate aut unde! Repellat dicta error debitis earum, nulla nesciunt molestiae dolorum ullam ad eius consequatur porro odio quidem cupiditate sint aspernatur ducimus est, perferendis consequuntur, optio asperiores ex nobis. Porro cum animi quibusdam vitae, dolorum hic, doloremque incidunt quasi tempora aliquid iure quis impedit dicta, ad ratione ducimus. Voluptatibus tempora iusto eum odit odio exercitationem, maiores sapiente in voluptatem reprehenderit illum obcaecati officia temporibus sed at corrupti inventore itaque fugiat adipisci. Officiis unde reprehenderit amet autem iusto aspernatur fuga sed praesentium voluptates labore, similique molestias qui culpa. Hic veniam impedit tenetur odit.</p>
        </section>
    </main>

    <%- include('partials/footer')%>

  </body>
</html>
